name: Job Search Automation
on:
  schedule:
    - cron: '0 12 * * *' # Ejecuta a las 9 AM Argentina
  workflow_dispatch: # Permite ejecutarlo manual desde GitHub

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install deps
        run: pip install requests python-dotenv
      - name: Run script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          SMTP_EMAIL: ${{ secrets.SMTP_EMAIL }}
          SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
          PERSONAL_EMAIL: ${{ secrets.PERSONAL_EMAIL }}
        run: python src/engine.py 
